td{
    text-align: center;
}
@media only screen and (max-width:800px){
    td:nth-of-type(1):before { content: "Serial Number"; }
	td:nth-of-type(2):before { content: "Item Name"; }
	td:nth-of-type(3):before { content: "Quantity"; }
	
}
@media only screen and (max-width:800px){
    #check:not(:checked) ~ div.content>div>table>tbody>tr>td::before{
        left:250px;
    }
}
@media only screen and (max-width:600px){
    #check:not(:checked) ~ div.content>div{
        display:none;
    }
}

/* <!-- Repeat here
<%data.forEach((order)=>{%>
  <tr>
        <td><%=order.id%></td>
        <td><%=order.fromName%></td>
        <td><%=order.fromLocation%></td>
        <td><%=order.date%></td>
        <%if(order.orderCompleted){%>
            <td>Completed</td>
        <%}else{%>
            <td>Pending</td>
        <%}%>
    </tr>
<%})%> --> */